body
{
	background-image: url(images/bg.jpg) ;
	background-repeat:no-repeat;
	background-position:top center;
	background-attachment:fixed;
	background-size:cover;
	width : 800px;
	margin-right : auto;
	margin-left : auto;
	font-family : verdana;
}

header
{
	/*background-image: url(images/.jpg) ;*/
	background : rgba(33, 42, 46, 0.8);
	border : 5px solid black;
	border-radius : 10px;
	width : 100%;
}

h1
{
	color : white;
	font-style : italic;
}

a
{
	text-decoration : none;
	color : white;
}

hr
{
	width : 70%;
}

label
{
	color : white;
}

caption
{
	font-size : 20px;
	font-style : italic; 
	margin-bottom : 5px;
}

li
{
	list-style : none;
}

.tablearticle
{
	border : 5px solid black;
	border-radius : 10px;
	/*background-color : white;*/
	background : rgba(149,185, 201, .80);
	padding-left : 10px;
	padding-right : 10px;
	margin-bottom : 10px;
}

.lien
{
	float : right;
	color : white;
	text-decoration : underline;
}

.tableajsup
{
	border : 5px solid black;
	border-radius : 10px;
	/*background-color : white;*/
	background : rgba(149,185, 201, .80);
	padding-left : 10px;
	padding-right : 10px;
	padding-top : 10px;
	padding-bottom : 10px;
}

.ajsup
{
	color : white;
	text-decoration : underline;
	text-align : center;
	/*padding-left : 5px;
	padding-right : 5px;
	padding-top : 20px;
	padding-bottom : 20px;*/
}

.element
{
	padding-right : 10px;
	padding-left : 10px;
	text-decoration : none;
	color : white;
}

.element a:hover
{
	text-decoration : underline;
	background : white;
	color : black;
}

#tableajout
{
	border : 5px solid black;
	border-radius : 10px;
	background : rgba(149,185, 201, .80);
	padding-left : 10px;
	padding-right : 10px;
	margin-top : 30px;
	margin-right : auto;
	margin-left: auto;
}

#tablesup
{
	border : 5px solid black;
	border-radius : 10px;
	background : rgba(149,185, 201, .80);
	padding-left : 10px;
	padding-right : 10px;
	margin-top : 30px;
	margin-right : auto;
	margin-left: auto;
	width : 37%;
}

.retour  a:hover
{
	text-decoration : underline;
	background : white;
	color : black;
}

#categorie
{
	border : 5px solid black;
	border-radius : 10px;
	background : rgba(149,185, 201, .80);
	padding-left : 10px;
	padding-right : 10px;
	margin-top : 30px;
	margin-right : auto;
	margin-left: auto;
	width : 85%;
}

.description
{
	font-style : italic;
	text-decoration : underline;
}

.image
{
	float : left;
	width : 140px;
	height : 120px;
	border-radius : 10px;
	margin-top : 10px;
	margin-right : 10px;
}

.navarchive
{
	border : 3px solid black;
	border-radius : 10px;
	background : rgba(33, 42, 46, 0.8);
}

.deconnect
{
	border : 5px solid black;
	border-radius : 10px;
	background : rgba(149,185, 201, .80);
	padding-left : 10px;
	padding-right : 10px;
	margin-right : auto;
	margin-left: auto;
	width : auto;
}